.wall {
	height:700px;
	width:100%;
	background-image:url(../images/changePwdBack.png);
}

p {
	display: inline-block;
	font-size: 18px;
}

#con p{
	color: red;
	font-size: 14px;
}

.input-div {
	text-align: center;
	margin: 40px 0px;
}

.input-div-last {
	text-align: center;
}

.change-button {
	text-align: center;
	margin-top: 10px;
}