.wall {
	height:700px;
	width:100%;
	background-image:url(../images/teacherBack.jpg);
}

.headline{
	color: #428bca;
	text-align: left;
}

.info-div{
	padding: 0px 20px;
}

.work-div{
	padding: 0px 20px;
}

.back{
	display: inline-block;
	width:40px;
	float: right;
}

.back a{
	font-size: 16px;
}

.hide{
	display: none;
}